.sprinque-order-heading {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    margin-bottom: 32px;

    h4 {
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        margin: 0;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
    }
}
