.sprinque-step-heading {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .sprinque-step-heading-title {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        h4 {
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            margin: 0;
        }

        span {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }
    }

    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 32px;
    }
}
