{% set salesChannelContext = hook.salesChannelContext %}

{% do hook.setResponse(
    services.response.render('@Sprinque/storefront/sprinque/component/modal/sprinque-payment-terms.html.twig', {
        'page': hook.page,
        'payload': hook.request,
    })
) %}
