{% set isSprinqueStylingEnabled = config('Sprinque.config.sprinqueStyling') %}

<div class="sprinque-unstyled-modal">
    <div class="modal fade{% if isSprinqueStylingEnabled %}sprinque-styled-modal{% else %}sprinque-unstyled-modal{% endif %}"
         tabindex="-1"
         role="dialog">
        <div class="modal-dialog"
             role="document">
            <div class="modal-content">
                <button type="button"
                        class="btn-close close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>

                <div class="modal-body sprinque-unstyled-modal-content-element"></div>

                <div class="modal-footer">
                    <div class="modal-footer-image"></div>
                </div>
            </div>
        </div>
    </div>
</div>
