{% sw_extends '@Storefront/storefront/layout/meta.html.twig' %}

{% block layout_head_javascript_router %}
    {{ parent() }}

    <script>
        window.sprinqueRoute = {
            'frontend.storefront.sprinque.token': '{{ path('frontend.script_endpoint', { hook: 'sprinque-token' }) }}',
        };
    </script>
{% endblock %}
