{% do hook.setResponse(
    services.response.render('@Sprinque/storefront/sprinque/component/search/business-list.html.twig', {
        'page': hook.page,
        'payload': hook.request,
    })
) %}
