.term-select {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 16px;
    border-radius: 2px;
    border: 1px solid $sw-border-color;
    gap: 8px;
    cursor: pointer;

    .term-check {
        border-radius: 9999px;
        border: 2px solid $sw-border-color;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        transition: $transition-base;
    }

    input[type="radio"] {
        display: none;

        &:checked {
            & ~ .term-check {
                background-color: $sw-color-brand-primary;
                border-color: $sw-color-brand-primary;
                transition: $transition-base;
            }
        }
    }

    .term-select-days {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .term-select-price {
        margin-left: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}
