.sprinque-ellipsis-loader {
    position: relative;
    margin: 0 auto;
    width: 80px;
    height: 33px;

    div {
        position: absolute;
        top: 10px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: $sprinque-color-active;

        &:nth-child(1) {
            left: 8px;
            animation: sprinque-ellipsis1 0.6s infinite;
        }

        &:nth-child(2) {
            left: 8px;
            animation: sprinque-ellipsis2 0.6s infinite;
        }

        &:nth-child(3) {
            left: 32px;
            animation: sprinque-ellipsis2 0.6s infinite;
        }

        &:nth-child(4) {
            left: 56px;
            animation: sprinque-ellipsis3 0.6s infinite;
        }
    }
}

@keyframes sprinque-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sprinque-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes sprinque-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
