.status-icon {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    margin: 0 auto 32px;

    &.info {
        color: $color-info;
        border: 2px solid $color-info;
    }

    &.warning {
        color: $color-warning;
        border: 2px solid $color-warning;
    }

    &.danger {
        color: $color-danger;
        border: 2px solid $color-danger;
    }

    svg {
        width: 28px;
        height: 28px;
    }
}
