<div class="sprinque-business-list">
    <div class="sprinque-business-list-item">
        <b>{{ "sprinque.paymentModal.searchBusiness.cantFindYourBusiness"|trans|sw_sanitize }}</b>
        <small>{{ "sprinque.paymentModal.searchBusiness.youCanContinueByManuallyFilling"|trans|sw_sanitize }}</small>
    </div>
    {% if payload.businesses %}
        {% foreach payload.businesses as business %}
            <div class="sprinque-business-list-item" data-business-info="{{ business|json_encode }}" data-registration-number="{{ business.registration_number }}">
                <b>{{ business.business_name }}</b>
                {% if business.address %}
                    <small>{{ business.address.address_line_1 ? business.address.address_line_1 : business.address.address_line_2 }}</small>
                {% endif %}
                <small>
                    {{ [
                        business.address.zipcode,
                        business.address.city,
                        business.country,
                    ]|filter(v => v is not empty)|join(', ') }}
                </small>
            </div>
        {% endforeach %}
    {% endif %}
</div>
