{% macro generateTokenResponse(salesChannelContext) %}
    {% set customer = salesChannelContext.customer %}
    {% if customer is empty %}
        {% return services.response.json({ success: false }, 422) %}
    {% endif %}

    {% set token = (customer.id ~ random() ~ date().timestamp)|md5 %}

    {% set payload = [{
        'token': token,
        'salesChannelId': salesChannelContext.salesChannel.id,
        'customerId': customer.id,
    }] %}

    {% do services.writer.upsert('ce_sprinque_storefront_token', payload) %}

    {% return services.response.json({
        success: true,
        token: token,
        customerId: customer.id,
        salesChannelId: salesChannelContext.salesChannel.id,
        currencyId: salesChannelContext.getCurrencyId(),
        languageId: salesChannelContext.getLanguageId(),
        billingAddressId: customer.activeBillingAddress.id,
        shippingAddressId: customer.activeShippingAddress.id,
    }) %}
{% endmacro %}
