{% macro appUrl() %}
    {# Replace appName from manifest.xml  #}
    {% set appName = 'Sprinque' %}

    {% set criteria = {
        'limit': 1,
        'filter': [
            {
                'type': 'equals',
                'field': 'name',
                'value': appName,
            }
        ]
    } %}

    {% set sprinqueApp = services.repository.search('app', criteria).first %}

    {% return sprinqueApp.baseAppUrl %}
{% endmacro %}
