{% block sprinque_modal_content %}
    <div id="sprinque-modal-content">
        {% block sprinque_modal_logo %}
            <div class="sprinque-seller-logo" id="sprinque-seller-logo">
                {% if payload.logo %}
                    <img src="{{ payload.logo }}" alt="{{ payload.name }}" class="h-100" />
                {% endif %}
            </div>
        {% endblock %}

        {% block sprinque_modal_error %}
            {% sw_include '@Sprinque/storefront/sprinque/component/modal/sprinque-payment-error.html.twig' %}
        {% endblock %}

        {% block sprinque_modal_search_business %}
            {% sw_include '@Sprinque/storefront/sprinque/component/modal/sprinque-payment-search-business.html.twig' with {
                countries: payload.countries,
                countries: payload.countries,
                buyerDetail: payload.buyerDetail,
                language
            } %}
        {% endblock %}

        {% block sprinque_modal_company_address %}
            {% sw_include '@Sprinque/storefront/sprinque/component/modal/sprinque-payment-company-address.html.twig' with {
                countries: payload.countries,
                buyerDetail: payload.buyerDetail,
                language
            } %}
        {% endblock %}

        {% block sprinque_modal_verify_email %}
            {% sw_include '@Sprinque/storefront/sprinque/component/modal/sprinque-payment-verify-email.html.twig' with {
                countries: payload.countries,
                language
            } %}
        {% endblock %}

        {% block sprinque_modal_thanks_for_your_patience %}
            {% sw_include '@Sprinque/storefront/sprinque/component/modal/sprinque-payment-thanks-for-your-patience.html.twig' %}
        {% endblock %}

        {% block sprinque_modal_manual_review %}
            {% sw_include '@Sprinque/storefront/sprinque/component/modal/sprinque-payment-manual-review.html.twig' %}
        {% endblock %}

        {% block sprinque_modal_do_not_miss_out %}
            {% sw_include '@Sprinque/storefront/sprinque/component/modal/sprinque-payment-do-not-miss-out.html.twig' %}
        {% endblock %}

        {% block sprinque_alert_error %}
            <div id="sprinque-alert-error" class="d-none">
                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                    type: 'danger',
                    content: ''
                } %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
