{% block sprinque_payment_do_not_miss_out %}
    <div
        id="do-not-miss-out"
        class="sprinque-payment-modal-content d-none"
    >
        <div class="do-not-miss-out">
            {% block sprinque_payment_do_not_miss_out_heading %}
                {% sw_include '@Sprinque/storefront/sprinque/component/partial/order-heading.html.twig' with {
                    title: "sprinque.paymentModal.doNotMissOut.title"|trans|sw_sanitize,
                    description: "sprinque.paymentModal.doNotMissOut.description"|trans|sw_sanitize,
                } %}
            {% endblock %}

            {% block sprinque_payment_do_not_miss_out_loading %}
                {% sw_include '@Sprinque/storefront/sprinque/component/partial/loading.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
