{% block sprinque_payment_verify_email %}
    <div
        id="verify-email"
        class="sprinque-payment-modal-content d-none"
    >
        <div class="verify-email">
            {% sw_include '@Sprinque/storefront/sprinque/component/partial/step-heading.html.twig' with {
                title: "sprinque.paymentModal.verifyEmail.title"|trans|sw_sanitize,
                description: "sprinque.paymentModal.verifyEmail.description"|trans({
                    "%email%": context.customer.email
                })
            } %}
            <form>
                <div class="card-form">
                    {% block sprinque_payment_verify_email_otp %}
                        <div id="otp-input" class="otp-input-container">
                            <input class="otp-input" type="text" inputmode="numeric" maxlength="1" required />
                            <input class="otp-input" type="text" inputmode="numeric" maxlength="1" required />
                            <input class="otp-input" type="text" inputmode="numeric" maxlength="1" required />
                            <input class="otp-input" type="text" inputmode="numeric" maxlength="1" required />
                            <input class="otp-input" type="text" inputmode="numeric" maxlength="1" required />
                        </div>

                        {% block sprinque_payment_verify_email_otp_validation_message %}
                            <p class="invalid-otp-msg">
                                {{ "sprinque.paymentModal.verifyEmail.invalidOtpMessage"|trans }}
                            </p>
                        {% endblock %}
                    {% endblock %}
                </div>

                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-primary btn-block js-sprinque-prev-btn">
                        {% sw_include '@Sprinque/storefront/sprinque/component/icon/arrow-left.html.twig' %}
                        {{ "sprinque.paymentModal.prev"|trans }}
                    </button>

                    <button type="submit" class="btn btn-primary btn-block js-sprinque-next-btn">
                        {{ "sprinque.paymentModal.next"|trans }}
                        {% sw_include '@Sprinque/storefront/sprinque/component/icon/arrow-right.html.twig' %}
                    </button>
                </div>

                <div class="resend-text">
                    {{ 'sprinque.paymentModal.verifyEmail.emailNotReceived'|trans }}
                    <button class="text-decoration-none btn btn-link resend-btn" id="resend-btn" disabled>
                        {{ 'sprinque.paymentModal.verifyEmail.resendEmail'|trans }}
                        <span id="timer-text">{{ 'sprinque.paymentModal.verifyEmail.resendCounter'|trans|raw }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
