{% block sprinque_payment_company_address %}
    {% set buyerAddress = buyerDetail.address %}
    <div
        id="company-address"
        class="sprinque-payment-modal-content d-none"
    >
        <div class="company-address">
            {% sw_include '@Sprinque/storefront/sprinque/component/partial/step-heading.html.twig' with {
                title: "sprinque.paymentModal.companyAddress.title"|trans|sw_sanitize,
                description: "sprinque.paymentModal.companyAddress.description"|trans|sw_sanitize,
                step: 2,
                total: 2,
            } %}
            <form data-sprinque-form="buyer">
                <div class="card-form">
                    {% block sprinque_payment_company_address_fields_address_line_1 %}
                        <div class="row g-2">
                            <div class="form-group col">
                                {% block sprinque_payment_company_address_fields_address_line_1_label %}
                                    <label class="form-label"
                                           for="address_line_1"
                                    >
                                        {{ "sprinque.paymentModal.companyAddress.addressLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                                    </label>
                                {% endblock %}

                                {% block sprinque_payment_company_address_fields_address_line_1_input %}
                                    <input type="text"
                                           class="form-control"
                                           id="address_line_1"
                                           name="address_line_1"
                                           data-form-validation-required
                                           required="required"
                                           value="{{ buyerAddress.address_line1 ?? buyerAddress.street }}"
                                    >
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block sprinque_payment_company_address_fields_address_line_2 %}
                        <div class="row g-2">
                            <div class="form-group col">
                                {% block sprinque_payment_company_address_fields_address_line_2_label %}
                                    <label class="form-label"
                                           for="address_line_2"
                                    >
                                        {{ "sprinque.paymentModal.companyAddress.apartmentLabel"|trans|sw_sanitize }}
                                    </label>
                                {% endblock %}

                                {% block sprinque_payment_company_address_fields_address_line_2_input %}
                                    <input type="text"
                                           class="form-control"
                                           id="address_line_2"
                                           name="address_line_2"
                                           value="{{ buyerAddress.address_line2 }}"
                                    >
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block sprinque_payment_company_address_fields_city %}
                        <div class="row g-2">
                            <div class="form-group col">
                                {% block sprinque_payment_company_address_fields_city_label %}
                                    <label class="form-label"
                                           for="city"
                                    >
                                        {{ "sprinque.paymentModal.companyAddress.cityLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                                    </label>
                                {% endblock %}

                                {% block sprinque_payment_company_address_fields_city_input %}
                                    <input type="text"
                                           class="form-control"
                                           id="city"
                                           name="city"
                                           data-form-validation-required
                                           required="required"
                                           value="{{ buyerAddress.city }}"
                                    >
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block sprinque_payment_company_address_fields_zip_code %}
                        <div class="row g-2">
                            <div class="form-group col">
                                {% block sprinque_payment_company_address_fields_zip_code_label %}
                                    <label class="form-label"
                                           for="zip_code"
                                    >
                                        {{ "sprinque.paymentModal.companyAddress.postalCodeLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                                    </label>
                                {% endblock %}

                                {% block sprinque_payment_company_address_fields_zip_code_input %}
                                    <input type="text"
                                           class="form-control"
                                           id="zip_code"
                                           name="zip_code"
                                           data-form-validation-required
                                           required="required"
                                           value="{{ buyerAddress.zip_code }}"
                                    >
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block sprinque_payment_company_address_fields_country_code %}
                        <div class="row g-2">
                            <div class="form-group col">
                                {% block sprinque_payment_company_address_fields_country_code_label %}
                                    <label class="form-label"
                                           for="country_code"
                                    >
                                        {{ "sprinque.paymentModal.companyAddress.countryLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                                    </label>
                                {% endblock %}

                                {% block sprinque_payment_company_address_fields_country_code_select %}
                                    <select id="country_code"
                                            class="form-select{% if formViolations.getViolations('/country_code') is not empty %} is-invalid{% endif %}"
                                            name="country_code"
                                            required="required">
                                        {% if not countries %}
                                            <option disabled="disabled"
                                                    selected="selected"
                                                    value="">
                                                {{ "sprinque.paymentModal.companyAddress.countryPlaceholder"|trans|sw_sanitize }}
                                            </option>
                                        {% else %}
                                            {% for country in countries %}
                                                <option
                                                    value="{{ country.code }}"
                                                    {{ country.code == buyerDetail.address.country.code ? 'selected="selected"' : '' }}
                                                >
                                                    {{ country.name }}
                                                </option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block sprinque_payment_company_address_fields_merchant_buyer_id %}
                        <input type="hidden"
                               id="merchant_buyer_id"
                               name="merchant_buyer_id"
                               value="{{ buyerDetail.merchant_buyer_id }}"
                        >
                    {% endblock %}
                </div>

                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-outline-primary btn-block js-sprinque-prev-btn">
                        {% sw_include '@Sprinque/storefront/sprinque/component/icon/arrow-left.html.twig' %}
                        {{ "sprinque.paymentModal.prev"|trans }}
                    </button>

                    <button type="submit" class="btn btn-primary btn-block js-sprinque-next-btn">
                        {{ "sprinque.paymentModal.next"|trans }}
                        {% sw_include '@Sprinque/storefront/sprinque/component/icon/arrow-right.html.twig' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
