{% block sprinque_payment_search_business %}
    {% set countryCode = buyerDetail.address.country.code ?? context.shippingLocation.country.iso %}
    {% set isSprinqueStylingEnabled = config('Sprinque.config.sprinqueStyling') %}
    <div
        id="search-business"
        class="sprinque-payment-modal-content d-none"
    >
        <div class="search-business">
            {% sw_include '@Sprinque/storefront/sprinque/component/partial/step-heading.html.twig' with {
                title: "sprinque.paymentModal.searchBusiness.title"|trans|sw_sanitize,
                description: "sprinque.paymentModal.searchBusiness.description"|trans|sw_sanitize,
                step: 1,
                total: 2,
            } %}

            <form data-sprinque-form="buyer">
                <div class="card-form">
                    {% block sprinque_payment_search_business_fields_country %}
                        <div class="row g-2">
                            <div class="form-group col">
                                {% block sprinque_payment_search_business_fields_country_label %}
                                    <label class="form-label"
                                           for="country"
                                    >
                                        {{ "sprinque.paymentModal.searchBusiness.countryLabel"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                                    </label>
                                {% endblock %}

                                {% block sprinque_payment_search_business_fields_country_select %}
                                    <select id="country"
                                            class="form-select"
                                            data-sprinque-country-select="true"
                                            required="required">
                                        {% if not countries %}
                                            <option disabled="disabled"
                                                    selected="selected"
                                                    value="">
                                                {{ "sprinque.paymentModal.searchBusiness.countryPlaceholder"|trans|sw_sanitize }}
                                            </option>
                                        {% else %}
                                            {% for country in countries %}
                                                <option value="{{ country.code }}"
                                                        data-is-search-by-vat-available="{{ country.is_search_by_vat_available }}"
                                                        data-is-registration-number-required="{{ country.is_registration_number_required }}"
                                                    {{ country.code == countryCode ? 'selected="selected"' : '' }}>
                                                    {{ country.name }}
                                                </option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block sprinque_payment_search_business_fields_company %}
                        <div class="row g-2">
                            <div class="form-group col">
                                {% block sprinque_payment_search_business_fields_company_label %}
                                    <label class="form-label sprinque-company-label"
                                           for="company"
                                    >
                                        {{ "sprinque.paymentModal.searchBusiness.companyNameType"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                                    </label>
                                {% endblock %}

                                {% block sprinque_payment_search_business_fields_company_type %}
                                    <div class="sprinque-company-type">
                                        {% block sprinque_payment_search_business_fields_company_type_name %}
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input"
                                                       type="radio"
                                                       name="company_type"
                                                       id="type_company_name"
                                                       value="NAME"
                                                       checked
                                                >
                                                <label class="form-check-label" for="type_company_name">
                                                    {{ "sprinque.paymentModal.searchBusiness.companyNameType"|trans|sw_sanitize }}
                                                </label>
                                            </div>
                                        {% endblock %}

                                        {% block sprinque_payment_search_business_fields_company_type_vat %}
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input"
                                                       type="radio"
                                                       name="company_type"
                                                       id="type_vat_id"
                                                       value="VAT_ID"
                                                >
                                                <label class="form-check-label" for="type_vat_id">
                                                    {{ "sprinque.paymentModal.searchBusiness.vatIDType"|trans|sw_sanitize }}
                                                </label>
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}

                                {% block sprinque_payment_search_business_fields_company_search %}
                                    <div class="sprinque-company-search">
                                        <div class="sprinque-search-input input-group">
                                            <input type="text"
                                                   class="form-control"
                                                   id="sprinque-search-business"
                                                   name="business_name"
                                                   placeholder="{{ "sprinque.paymentModal.searchBusiness.search"|trans|sw_sanitize }}"
                                                   value="{{ buyerDetail.business_name }}"
                                                   data-init-value="{{ buyerDetail.business_name }}"
                                            >
                                            <span class="input-group-text">
                                                {% if isSprinqueStylingEnabled %}
                                                    {% sw_include '@Sprinque/storefront/sprinque/component/icon/search.html.twig' %}
                                                {% else %}
                                                    {% sw_icon 'search' %}
                                                {% endif %}
                                            </span>
                                        </div>

                                        <div class="sprinque-company-result"></div>
                                    </div>
                                {% endblock %}

                                {% block sprinque_payment_search_business_selected_card %}
                                    <div class="sprinque-selected-business-card d-none">
                                        {% block sprinque_payment_search_business_selected_card_remove_btn %}
                                            <div class="remove-business-btn">
                                                {% if isSprinqueStylingEnabled %}
                                                    {% sw_include '@Sprinque/storefront/sprinque/component/icon/remove.html.twig' %}
                                                {% else %}
                                                    {% sw_icon 'x' style { 'size': 'sm' } %}
                                                {% endif %}
                                            </div>
                                        {% endblock %}

                                        {% block sprinque_payment_search_business_selected_card_content %}
                                            <div class="sprinque-selected-business-card-content"></div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block sprinque_payment_search_business_fields_registration_number %}
                        <div class="row g-2">
                            {% set isoCode = language.translationCode.code|lower|split('-') %}
                            {% set language = isoCode[0] %}
                            {% set regNumberValidationOptions = {
                                languageCode: language,
                                warningMsgContainerSelector: '.sprinque-warning',
                                warningMsgSelector: '.sprinque-warning .alert-content',
                            } %}

                            <div class="form-group col"
                                 data-sprinque-registration-number-validation="true"
                                 data-sprinque-registration-number-validation-options="{{ regNumberValidationOptions|json_encode }}"
                            >
                                {% block sprinque_payment_search_business_fields_registration_number_label %}
                                    <label class="form-label"
                                           for="registration_number"
                                    >
                                        {{ "sprinque.paymentModal.searchBusiness.registrationNumberLabel"|trans|sw_sanitize }}
                                        <span id="registration_number_required">
                                        {{ "general.required"|trans|sw_sanitize }}
                                    </span>
                                    </label>
                                {% endblock %}

                                {% block sprinque_payment_search_business_fields_registration_number_input %}
                                    <input type="text"
                                           class="form-control{% if violationPath is not empty %} is-invalid{% endif %}"
                                           id="registration_number"
                                           placeholder="{{ "sprinque.paymentModal.searchBusiness.registrationNumberPlaceholder"|trans|striptags }}"
                                           name="registration_number"
                                           value="{{ buyerDetail.registration_number }}"
                                           required="required">
                                {% endblock %}

                                {% block sprinque_payment_search_business_fields_registration_number_error %}
                                    <div class="sprinque-warning d-none">
                                        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                            type: 'warning',
                                            content: ''
                                        } %}
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block sprinque_payment_search_business_fields_bill_or_account_payable_email %}
                        <div class="row g-2">
                            <div class="form-group col">
                                {% block sprinque_payment_search_business_fields_bill_or_account_payable_email_label %}
                                    <label class="form-label"
                                           for="email"
                                    >
                                        {{ "sprinque.paymentModal.searchBusiness.billingOrAccountsLabel"|trans|sw_sanitize }}
                                    </label>
                                {% endblock %}

                                {% block sprinque_payment_search_business_fields_bill_or_account_payable_email_input %}
                                    <input type="email"
                                           class="form-control{% if violationPath is not empty %} is-invalid{% endif %}"
                                           id="email"
                                           placeholder="{{ "sprinque.paymentModal.searchBusiness.billingOrAccountsPlaceholder"|trans|striptags }}"
                                           name="email"
                                           value="{{ buyerDetail.email }}"
                                    >
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary btn-block js-sprinque-next-btn">
                        {{ "sprinque.paymentModal.next"|trans }}
                        {% sw_include '@Sprinque/storefront/sprinque/component/icon/arrow-right.html.twig' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
