{% block sprinque_payment_error %}
    <div
        id="sprinque-error"
        class="sprinque-payment-modal-content d-none"
    >
        <div class="sprinque-error">
            {% block sprinque_payment_error_status %}
                <div class="status-icon danger">
                    {% sw_include '@Sprinque/storefront/sprinque/component/icon/x.html.twig' %}
                </div>
            {% endblock %}

            {% block sprinque_payment_error_heading %}
                {% sw_include '@Sprinque/storefront/sprinque/component/partial/order-heading.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
