{% block sprinque_payment_manual_review %}
    <div
        id="manual-review"
        class="sprinque-payment-modal-content d-none"
    >
        <div class="manual-review">
            {% block sprinque_payment_manual_review_status %}
                <div class="status-icon warning">
                    {% sw_include '@Sprinque/storefront/sprinque/component/icon/timer.html.twig' %}
                </div>
            {% endblock %}

            {% block sprinque_payment_manual_review_heading %}
                {% sw_include '@Sprinque/storefront/sprinque/component/partial/order-heading.html.twig' with {
                    title: "sprinque.paymentModal.manualReview.title"|trans|sw_sanitize,
                    description: "sprinque.paymentModal.manualReview.description"|trans|sw_sanitize,
                } %}
            {% endblock %}

            {% block sprinque_payment_manual_review_actions %}
                <div class="d-grid gap-3 spriqnue-actions">
                    <button type="button"
                            class="btn btn-primary btn-lg js-sprinque-submit-order-btn"
                    >
                        {{ "sprinque.paymentModal.waitForAManualReview"|trans|sw_sanitize }}
                    </button>
                    <button type="button"
                            class="btn btn-outline-primary btn-lg js-sprinque-close-btn"
                            data-bs-dismiss="modal"
                    >
                        {{ "sprinque.paymentModal.useAnotherPaymentMethod"|trans|sw_sanitize }}
                    </button>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
