{% block sprinque_payment_thanks_for_your_patience %}
    <div
        id="thanks-for-your-patience"
        class="sprinque-payment-modal-content d-none"
    >
        <div class="thanks-for-your-patience">
            {% block sprinque_payment_thanks_for_your_patience_heading %}
                {% sw_include '@Sprinque/storefront/sprinque/component/partial/order-heading.html.twig' with {
                    title: "sprinque.paymentModal.thanksForYourPatience.title"|trans|sw_sanitize,
                    description: "sprinque.paymentModal.thanksForYourPatience.description"|trans|sw_sanitize,
                } %}
            {% endblock %}

            {% block sprinque_payment_thanks_for_your_patience_loading %}
                {% sw_include '@Sprinque/storefront/sprinque/component/partial/loading.html.twig' %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
