{% block sprinque_payment_terms %}
    {% set totalAmount = payload.totalAmount %}
    {% set eligiblePaymentTerms = payload.eligible_payment_terms %}
    {% set buyerPricingPercent = payload.pricing.buyer_pricing_fee_percent %}
    {% set DAY_TERMS = [
        7,
        15,
        30,
        45,
        60,
        90,
    ] %}

    <div
        id="payment-terms"
        class="sprinque-payment-modal-content sprinque-payment-modal-content-appended d-none"
    >
        {% block sprinque_payment_terms_content %}
            <form class="payment-terms">
                {% block sprinque_payment_terms_heading %}
                    {% sw_include '@Sprinque/storefront/sprinque/component/partial/order-heading.html.twig' with {
                        title: "sprinque.paymentModal.terms.title"|trans|sw_sanitize,
                        description: "sprinque.paymentModal.terms.description"|trans|sw_sanitize,
                    } %}
                {% endblock %}

                {% block sprinque_payment_terms_net %}
                    <div class="net-term">
                        {% block sprinque_payment_terms_net_heading %}
                            <div class="card-heading">
                                <h5>{{ "sprinque.paymentModal.terms.netTerm"|trans|sw_sanitize }}</h5>
                                <p>{{ "sprinque.paymentModal.terms.payTheTotalAmountAnytime"|trans|sw_sanitize }}</p>
                            </div>
                        {% endblock %}

                        {% block sprinque_payment_terms_net_selection %}
                            <div class="net-term-selections">
                                {% block sprinque_payment_terms_net_selection_list %}
                                    {% for dayTerm in DAY_TERMS %}
                                        {% set termValue = 'NET' ~ dayTerm %}
                                        {% set termBuyerPricingPercent = buyerPricingPercent['net' ~ dayTerm] %}

                                        {% block sprinque_payment_terms_net_selection_list_item %}
                                            {% if termBuyerPricingPercent is not null and termValue in eligiblePaymentTerms %}
                                                {% sw_include '@Sprinque/storefront/sprinque/component/partial/radio-term-select.html.twig' with {
                                                    value: termValue,
                                                    name: 'payment_terms',
                                                    days: dayTerm,
                                                    totalAmount: totalAmount,
                                                    percent: termBuyerPricingPercent
                                                } %}
                                            {% endif %}
                                        {% endblock %}
                                    {% endfor %}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}

                {% block sprinque_payment_terms_total %}
                    <div class="payment-total-amount">
                        <h5>{{ "sprinque.paymentModal.totalAmount"|trans|sw_sanitize }}</h5>
                        <span id="sprinque-total-amount">{{ totalAmount|currency }}</span>
                    </div>
                {% endblock %}

                {% block sprinque_payment_terms_actions %}
                    <div class="d-grid gap-3 spriqnue-actions">
                        <button type="button"
                                class="btn btn-primary btn-lg js-sprinque-submit-order-btn"
                        >
                            {{ "sprinque.paymentModal.confirmOrder"|trans|sw_sanitize }}
                        </button>
                    </div>
                {% endblock %}
            </form>
        {% endblock %}
    </div>
{% endblock %}
