{% set keepUserData = hook.event.keepUserData %}
{% if keepUserData %}
    {% return %}
{% endif %}

{% set appDomain = 'Sprinque.config' %}

{% set criteria = {
    'filter': [
        {
            'type': 'contains',
            'field': 'configurationKey',
            'value': appDomain,
        }
    ]
} %}

{% set ids = services.repository.ids('system_config', criteria).getIds() %}
{% if ids is empty %}
    {% return %}
{% endif %}

{% set deleteIds = [] %}
{% foreach ids as id %}
    {% set deleteIds = deleteIds|merge([{'id': id}]) %}
{% endforeach %}

{% do services.writer.delete('system_config', deleteIds) %}
