{% sw_extends '@Storefront/storefront/component/payment/payment-method.html.twig' %}

{% block component_payment_method_label %}
    {{ parent() }}

    {% set isSelectedPaymentMethod = payment.id is same as selectedPaymentMethodId %}
    {% set paymentMethodType = payment.formattedHandlerIdentifier %}
    {% if isSelectedPaymentMethod and paymentMethodType == "handler_app_sprinque_sprinque" %}
        {% sw_include "@Sprinque/storefront/component/payment/sprinque-payment.html.twig" %}
    {% endif %}
{% endblock %}
