{% set isSprinqueStylingEnabled = config('Sprinque.config.sprinqueStyling') %}

{% set pluginOptions = {
    baseUrl: url('frontend.home.page'),
    defaultContentSelector: '#search-business',
    shopId: appShopId,
    appUrl: page.getExtension('sprinqueApp').get('appUrl'),
    orderId: page.order.id,
    totalAmount: page.order is defined ? page.order.price.totalPrice : page.cart.price.totalPrice,
    paymentModalCls: isSprinqueStylingEnabled ? 'sprinque-styled-modal' : 'sprinque-unstyled-modal',
    exception: {
        title: "sprinque.paymentModal.exception.title"|trans|sw_sanitize,
        description: "sprinque.paymentModal.exception.description"|trans|sw_sanitize,
    },
    steps: [{
        selector: '#search-business',
        pluginName: 'SprinqueSelectBusiness',
        pluginOptions: {
            nextModalSelector: '#company-address',
            nextBtnSelector: '.js-sprinque-next-btn',
        }
    }, {
        selector: '#company-address',
        pluginName: 'SprinqueCompanyAddress',
        pluginOptions: {
            prevModalSelector: '#search-business',
            prevBtnSelector: '.js-sprinque-prev-btn',
            nextBtnSelector: '.js-sprinque-next-btn',
        }
    }, {
        selector: '#sprinque-error',
        pluginName: 'SprinqueError',
        hideLogo: true,
        pluginOptions: {}
    }, {
        selector: '#verify-email',
        pluginName: 'SprinqueVerifyEmail',
        pluginOptions: {
            prevModalSelector: '#company-address',
            nextModalSelector: '#thanks-for-your-patience',
            resendBtnSelector: '#resend-btn',
            timerTextSelector: '#timer-text',
            resendTimerSelector: '#resend-timer'
        }
    }, {
        selector: '#thanks-for-your-patience',
        pluginName: 'SprinqueThanksForYourPatience',
        pluginOptions: {
            reject: {
                title: "sprinque.paymentModal.manualReview.reject.title"|trans|sw_sanitize,
                description: "sprinque.paymentModal.manualReview.reject.description"|trans|sw_sanitize,
            },
        },
    }, {
        selector: '#manual-review',
        pluginName: 'SprinqueManualReview',
        hideLogo: true,
        pluginOptions: {}
    }, {
        selector: '#payment-terms',
        pluginName: 'SprinquePaymentTerm',
        pluginOptions: {}
    }, {
        selector: '#do-not-miss-out',
        pluginName: 'SprinqueDoNotMissOut',
        pluginOptions: {}
    }]
} %}

<div
    data-sprinque-payment-modal="true"
    data-sprinque-payment-modal-options="{{ pluginOptions|json_encode }}"
></div>

{% set isUserTrackingEnabled = config('Sprinque.config.trackingCode') %}
{% if isUserTrackingEnabled %}
    {% sw_include "@Sprinque/storefront/component/payment/user-tracking.html.twig" %}
{% endif %}
