{% set salesChannelContext = hook.salesChannelContext %}

{% set criteria = {
    'limit': 1,
    'filter': [
        {
            'type': 'equals',
            'field': 'id',
            'value': salesChannelContext.context.languageId,
        },
    ],
    'associations': {
        'translationCode': {
            'total-count-mode': 0,
        },
    },
} %}

{% set language = services.repository.search('language', criteria).first %}

{% do hook.setResponse(
    services.response.render('@Sprinque/storefront/sprinque/component/modal/index.html.twig', {
        'page': hook.page,
        'language': language,
        'payload': hook.request,
    })
) %}
