{% block sprinque_radio_term_select %}
    {% set decimals = context.context.rounding.decimals %}
    {% set termPrice = ((totalAmount * percent) / 100)|round(decimals, 'ceil') %}
    {% set percentDecimals = percent|split('.')[1]|default('')|length %}
    {% set id = 'sprique-term-' ~ value %}

    <label class="term-select" for="{{ id }}">
        {% block sprinque_radio_term_select_input %}
            <input type="radio"
                   id="{{ id }}"
                   name="{{ name }}"
                   value="{{ value }}"
                   data-total-term-amount="{{ (totalAmount + termPrice)|currency }}"
                   required="required"
            />
        {% endblock %}

        {% block sprinque_radio_term_select_check %}
            <span class="term-check">
            {% sw_include '@Sprinque/storefront/sprinque/component/icon/check.html.twig' %}
        </span>
        {% endblock %}

        {% block sprinque_radio_term_select_days %}
            <span class="term-select-days">
                {{ "sprinque.paymentModal.days"|trans({
                    "%days%": days,
                }) }}
            </span>
        {% endblock %}

        {% block sprinque_radio_term_select_price %}
            {% if termPrice is same as(0.0) or termPrice is same as(0) %}
                <span class="term-select-price">
                    {{ "sprinque.paymentModal.free"|trans }}
                </span>
            {% else %}
                <span class="term-select-price">
                    {{ "sprinque.paymentModal.percentPrice"|trans({
                        "%percent%": percent|number_format(percentDecimals, ',', '.')|trim('0', 'right')|trim(',', 'right'),
                        "%price%": termPrice|currency,
                    }) }}
                </span>
            {% endif %}
        {% endblock %}
    </label>
{% endblock %}
