<div class="sprinque-step-heading">
    <div class="sprinque-step-heading-title">
        <h4>{{ title }}</h4>
        {% if step and total %}
            <span>{{ "sprinque.paymentModal.step"|trans({
                    "%step%": step,
                    "%total%": total,
                }) }}
        </span>
        {% endif %}
    </div>
    {% if description %}
        <p>
            {{ description|sw_sanitize }}
        </p>
    {% endif %}
</div>
