<svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10.7012 4.93944L6.39768 9.24296L5.54413 10.0965H6.75124H16.3929V10.7632H6.75124H5.54566L6.39737 11.6164L10.6944 15.9212L10.2262 16.3894L4.26668 10.4299L10.2275 4.46904L10.7012 4.93944Z" fill="currentColor" stroke="currentColor"/>
</svg>
