<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2.29297 7.60742L5.29297 9.60742L10.293 3.60742" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"
          stroke-linecap="round" stroke-linejoin="round" />
</svg>
