<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect y="0.890625" width="20" height="20" rx="10" fill="#B6B8E2"/>
    <path d="M7 7.89062L13 13.8906M7 13.8906L13 7.89062" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
