<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
    <path d="M19.236 18.8957L14.236 13.8957M15.9027 8.89567C15.9027 12.5776 12.9179 15.5623 9.236 15.5623C5.5541 15.5623 2.56934 12.5776 2.56934 8.89567C2.56934 5.21377 5.5541 2.229 9.236 2.229C12.9179 2.229 15.9027 5.21377 15.9027 8.89567Z" stroke="#6266A7" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
