{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block base_body_script %}
    <script src="https://unpkg.com/b2b-sprinque-tools/dist/index.umd.min.js" crossorigin></script>
{% endblock %}
