$sprinque-color-active: #000339;
$sprinque-color-input: #6266A7;
$sprinque-color-placeholder: #B6B8E2;

$color-info: #ABAFFC;
$color-warning: #ED9F2D;
$color-danger: #DA1D4C;
$color-wire-black-200: #D9DBF2;
