{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_pseudo_modal %}
    {{ parent() }}
    {% sw_include '@Sprinque/storefront/component/sprinque-modal.html.twig' %}
{% endblock %}
