@import "./partial/step-heading";
@import "./partial/order-heading";

// Steps
@import "./search-business";
@import "./thanks-for-your-patience";
@import "./do-not-miss-out";
@import "./verify-email";
@import "./payment-terms";

.sprinque-seller-logo {
    text-align: center;
    margin-bottom: 32px;
    padding-right: 32px;
    height: 47px;
}

.sprinque-unstyled-modal,
.sprinque-styled-modal {
    .modal-body {
        > .element-loader-backdrop {
            box-shadow: none;
        }
    }

    .btn-close {
        position: absolute;
        right: 32px;
        top: 32px;
        z-index: 9999;
    }

    .modal-body {
        padding: 32px;
    }

    .modal-footer {
        justify-content: flex-start;

        .modal-footer-image {
            background-image: url('/bundles/sprinque/modal-footer.svg');
            background-repeat: no-repeat;
            width: 147px;
            height: 23px;
        }
    }

    .sprinque-payment-modal-content {
        form:invalid {
            .js-sprinque-next-btn, .js-sprinque-submit-order-btn {
                opacity: 1;
                background: $color-wire-black-200;
                border-color: $color-wire-black-200;
                color: $white;
                pointer-events: none;
            }
        }
    }
}

#sprinque-modal-content {
    #sprinque-alert-error {
        margin-top: 12px;

        .alert {
            margin: 0;
        }
    }
}

.js-sprinque-next-btn,
.js-sprinque-prev-btn {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sprinque-search-input {
    flex-direction: row-reverse;

    .input-group-text {
        background: transparent;

        .icon {
            svg {
                top: 0;
            }
        }
    }

    input {
        border-left: 0;

        &:focus {
            box-shadow: none;
        }
    }
}

.sprinque-styled-modal {
    h1, h2, h3, h4, h5, p {
        color: $sprinque-color-active;
    }

    .btn-close {
        width: 24px;
        height: 24px;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path d="M18.1523 8.07576L16.9438 6.86719L12.1523 11.6586L7.36092 6.86719L6.15234 8.07576L10.9438 12.8672L6.15234 17.6586L7.36092 18.8672L12.1523 14.0758L16.9438 18.8672L18.1523 17.6586L13.3609 12.8672L18.1523 8.07576Z" fill="%23000339"/></svg>');
        padding: 0;
        opacity: 1;
    }

    // MODAL
    .modal-content {
        border-radius: 8px;
        border: 1px solid #F0F3F5;
        background: $white;
        box-shadow: 0 4px 8px 0 rgba(229, 234, 237, 0.5);
        --bs-modal-color: #{$sprinque-color-active};
    }

    .modal-footer {
        border-top: none;
        padding: 0 32px 32px;
    }

    // FORMS
    .form-group {
        margin-bottom: 32px;
    }

    .form-label {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: $sprinque-color-input;
        margin-bottom: 6px;
    }

    .form-select {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Cpath d='M5.45117 8.36719L10.4512 13.3672L15.4512 8.36719' stroke='%236266A7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-size: 20px 20px;
        box-shadow: 0 1px 3px 0 #F2F2F2;
    }

    .form-control,
    .form-select {
        padding: 8px 11px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        border-radius: 3px;
        border-color: $sprinque-color-placeholder;
        color: $sprinque-color-active;
        &::placeholder {
            color: $sprinque-color-placeholder;
        }

        &:focus {
            box-shadow: none;
            border-color: $sprinque-color-active;
            color: $sprinque-color-active;

            ~ .input-group-text {
                border-color: $sprinque-color-active;
                svg path {
                    stroke: $sprinque-color-active;
                }
            }
        }
    }

    .form-check-inline {
        margin-right: 12px;
    }

    .form-check-input {
        border-color: $sprinque-color-active;

        &:checked {
            background-color: $white;
        }

        &:checked[type=radio] {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='2' fill='%23000339'/%3E%3C/svg%3E");
        }

        &:focus {
            box-shadow: none;
        }
    }

    .sprinque-search-input {
        .form-control {
            border-radius: 0 3px 3px 0 !important;
        }

        .input-group-text {
            border-radius: 3px 0 0 3px !important;
            border-right: 0;
            margin-right: -1px !important;
            border-color: $sprinque-color-placeholder;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            .icon {
                width: 16px;
                height: 16px;
                color: $sprinque-color-input;
            }
        }
    }

    .sprinque-company-result {
        border-radius: 4px;

        .sprinque-business-list {
            border-radius: 4px;
            background: $white;
            border: 1px solid #E6E7FE;
            box-shadow: 0 4px 8px 0 rgba(229, 234, 237, 0.5);

            &::-webkit-scrollbar {
                width: 3px;
            }

            &::-webkit-scrollbar-track {
                background: $white;
            }

            &::-webkit-scrollbar-thumb {
                background: #898DC8;
                border-radius: 2px;
            }
        }
    }

    .sprinque-selected-business-card {
        border: 1px solid $sprinque-color-placeholder;
    }

    // BUTTONS
    .btn {
        border-radius: 4px;
        --bs-btn-padding-y: 1px;
        border-width: 2px;

        &.btn-outline-primary {
            --bs-btn-color: #{$sprinque-color-active};
            --bs-btn-border-color: #{$sprinque-color-active};
            --bs-btn-hover-bg: #{$sprinque-color-active};
            --bs-btn-hover-border-color: #{$sprinque-color-active};
        }

        &.btn-primary {
            --bs-btn-border-color: #{$sprinque-color-active};
            --bs-btn-bg: #{$sprinque-color-active};
            --bs-btn-hover-border-color: #{$sprinque-color-active};
            --bs-btn-hover-bg: #{$sprinque-color-active};
        }
    }

    // TERM SELECT
    .term-select {
        border-radius: 2px;
        border: 1px solid $color-wire-black-200;

        .term-check {
            border-color: $color-wire-black-200;
            border-width: 2px;
        }

        input[type=radio]:checked ~ .term-check {
            background-color: $sprinque-color-active;
            border-color: $sprinque-color-active;
        }
    }

    .verify-email {
        .otp-input {
            color: $sprinque-color-active;
        }

        .resend-text {
            color: $sprinque-color-active;
        }

        .resend-btn {
            color: #343AEB;
            font-weight: 400;

            &:disabled {
                color: $sprinque-color-placeholder;
            }
        }
    }
}
