.payment-terms {
    .card-heading {
        margin-bottom: 17px;

        h5 {
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
            margin-bottom: 9.5px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            margin: 0;
        }
    }

    .net-term-selections {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }

    .payment-total-amount {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        margin-bottom: 29px;
        margin-top: 22px;

        h5 {
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            margin: 0;
        }

        span {
            font-size: 20px;
            font-weight: 700;
            line-height: 32px;
            margin: 0;
        }
    }
}
