.sprinque-unstyled-modal,
.sprinque-styled-modal {
    .sprinque-company-type {
        margin-bottom: 5px;
    }
}

.sprinque-company-result {
    .sprinque-ellipsis-loader + .sprinque-business-list {
        margin-top: 0;
    }

    .sprinque-business-list {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
        max-height: 200px;
        background: $white;
        border: 1px solid $gray-400;
        border-radius: 4px;
        margin-top: 8px;
        padding: 6px 16px;

        .sprinque-business-list-item {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            padding: 8px 0;

            b {
                margin-bottom: 8px;
            }

            b, small {
                font-size: 14px;
            }

            &:not(:last-child) {
                margin-bottom: 0;
                border-bottom: 1px solid $gray-400;
            }
        }
    }
}

.sprinque-selected-business-card {
    padding: 16px;
    background: $white;
    border: 1px solid $gray-400;
    margin-top: 10px;
    border-radius: 4px;
    max-height: 200px;
    position: relative;

    .remove-business-btn {
        position: absolute;
        right: 16px;
        cursor: pointer;
    }

    &-content {
        display: flex;
        flex-direction: column;

        b {
            margin-bottom: 8px;
        }

        b, small {
            font-size: 14px;
        }
    }
}
