.sprinque-unstyled-modal,
.sprinque-styled-modal {
    .verify-email {
        .card-form {
            margin-bottom: 32px;
        }

        .otp-input-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0 0;

            &.invalid {
                .otp-input {
                    color: $color-danger;
                }

                ~ .invalid-otp-msg {
                    display: block;
                    margin: 0;
                    color: $color-danger;
                }
            }
        }

        .invalid-otp-msg {
            display: none;
            margin: 0;
            color: $color-danger;
            padding-top: 8px;
        }

        .otp-input {
            width: 70px;
            border: none;
            border-bottom: 2px solid $black;
            text-align: center;
            font-size: 47px;
            line-height: 29px;
            padding: 14px 0;
            cursor: pointer;

            &:focus {
                outline: none;
            }

            &:nth-child(1) {
                pointer-events: all;
            }
        }

        .resend-text {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 32px;
        }

        .resend-btn {
            padding: 0;
            line-height: 1.5;
        }
    }
}
